.header {
  background-color: #3f51b5 !important;
}

.header-toolbar {
  display: flex;
  justify-content: space-evenly;
}

.label {
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 4.5rem;
  height: 4.5rem;
}

.chip-label {
  font-size: 2rem;
}

.userName {
  color: #eaf0ce;
  text-transform: uppercase;
  font-size: 2rem !important;
}

.logoutBtn {
  font-size: 1.5rem !important;
  color: #eaf0ce;
  background-color: #ff6663;
  transition: all 0.3s ease-in-out;
}

.logoutBtn:hover {
  color: #0b3954;
  background-color: #e0ff4f;
}

@media screen and (max-width: 524px) {
  .avatar {
    width: 2.5rem;
    height: 2.5rem;
  }
  .chip-label {
    font-size: 1.25rem;
  }
}
