.budgetpage-head {
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #CAD8DE;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.budgetpage-createbudget {
  padding: 1rem;
}