.dashboard-add-expenditure {
  margin-top: 3rem;
  background-color: #FBFFB9;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.dashboard-budget {
  background-color: #FDD692;
}

.dashboard-expenses {
  background-color: #9cc5a1;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
