.App {
  font-size: 3rem;
}

.Toastify__toast-container {
  font-size: 1.5rem;
}

.head-text {
  color: #34403a;
}

.head-sub-text {
  color: indigo;
}

.highlighted-text {
  font-weight: 800;
  color: #f90093;
}

.dashed-border {
  border: 2px dashed #393424;
}

.dotted-border {
  border: 3px dotted #393424;
}

.back-btn {
  color: #fff !important;
  background-color: #000 !important;
  transition: all 0.25s ease-in-out !important;
}

.back-btn:hover {
  background-color: #fff !important;
  color: #000 !important;
}

/* pages common css */

.page-container {
  margin-top: 2rem;
}

.page-box {
  background-color: #ff6663;
  height: fit-content;
  box-shadow: 0px 4px 8px #13262f;
  border-radius: 1rem;
}

.page-title {
  padding: 1rem;
  border-bottom: 2px dashed #13262f;
}

.page-title h2 {
  color: #13262f;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
